.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px 0;
  background-color: #04aa6d;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
}
